<% var block = options.block %>
<%- block._editable %>

<div class="block_search_results">
	<div class="container" data-search-results>
		<script>
			var search_settings = {
				token: '<%- Buffer.from(site.config.storyblok.api_token).toString('base64') %>',
				space_id: <%- site.config.storyblok.space_id %>,
				limit: <%- block.limit %>,
				template: function(story) { return '' +
					'<div><a href="/' + story.full_slug.replace(/\/$/, '') + '/">' + story.name + '</a></div>' +
				 ''},
				no_results: function(keywords) { return '' +
					'<div class="no_results">' +
						'<p>Sorry, we couldn\'t find any entries related to those keywords: ' + keywords + '.</p>' +
					'</div>' +
                ''},
				load_more: function(data_attribute) { return '' +
					'<a href="#" class="button" ' + data_attribute + '>Load More</a>' +
				''}
			};
		</script>
	</div>
</div>